@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-main: #bdbdbd;
  --color-main-light: #f3f3f3;
  --color-secondary: #4b51ef;

  --color-border: #d8d8d8;

  --color-main-text: #000000;
  --color-main-light-text: #a3a3a3;
  --color-secondary-text: #ffffff;

  --color-success: #52cf4f;
  --color-danger: #d91313;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  font-weight: 400;
}
